< !DOCTYPE html><html lang="en"><head><meta charset="UTF-8"><meta name="viewport" content="width=device-width, initial-scale=1.0"><title>Navigation Menu 2</title><style>.container {
    display: flex;
    flex-direction: row;
    border: 1px solid black;
    justify-content: space-between;
    height: 450px;




}

.item {
    border: 2px solid black;
    width: 50px;
    height: 70px;
    margin: 4px;
    background-color: blueviolet;

}

.item1 {
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;

}

.item3 {
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;


}

.item2 {
    display: flex;
    justify-content: center;
    align-items: center;
}

.item4 {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.left {
    display: flex;
    flex-direction: row;
    justify-content: center;

}

.right {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

</style></head><body><main><div class="container"><div class="left"><div class="item item1">1</div><div class="item item2">2</div><div class="item item3">3</div></div><div class="right"><div class="item item4">4</div><div class="item item4">4</div></div></div></main></body></html>